* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: var(--md-sys-color-background);
    max-inline-size: 1280px;
    margin-inline: auto;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: start;
    font-size: clamp(1.5rem, -0.2625rem + 5vw, 2.5rem);
}

main {
    padding: 50px;
}